* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.header {
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
}

.main {
    width: 100%;
    height: calc(100% - 180px);
    background-color: var(--bg-color);
    display: flex;
    flex-direction: row;
}

.sidebarLeftRef {
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    display: flex;
}

.viewRef {
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.sidebarRightRef {
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    display: flex;
}

.footer {
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
}
